# .gitignore
#
# This source file is part of the SDG open source projects.
#
# Copyright ©2016–2017 Jeremy David Giesbrecht and the SDG contributors.
#
# Soli Deo gloria
#
# Licensed under the Apache License, Version 2.0
# See http://www.apache.org/licenses/LICENSE-2.0 for licence information.

# !!!!!!! !!!!!!! !!!!!!! !!!!!!! !!!!!!! !!!!!!! !!!!!!!
# THIS IS A SHARED FILE FROM THE REPOSITORY AT https://github.com/SDGGiesbrecht/SDG.
# CHANGES MUST BE MADE THERE.
# !!!!!!! !!!!!!! !!!!!!! !!!!!!! !!!!!!! !!!!!!! !!!!!!!

# ••••••• OS •••••••

# macOS
.DS_Store

# ••••••• Build •••••••

# Swift Package Manager
/.build
/Packages
/*.xcodeproj

# ••••••• SDG •••••••

# SDG
/.Development\ Tools

# SDG Itself
/Workspace/*
!/Workspace/Package.swift
!/Workspace/Sources/
/Update\ File\ Headers/*
!/Update\ File\ Headers/Package.swift
!/Update\ File\ Headers/Sources/main.swift

# ••••••• Continuous Integration •••••••

# Travis CI
/Originals

# Jazzy
/build
/docs/undocumented.json
/docs/docsets

# SwiftLint
/.swiftlint.yml