# macOS
.DS_Store

# Swift Package Manager
/.build
/Packages
/*.xcodeproj

# SwiftLint
/.swiftlint.yml

# Jazzy (Documentation)
/build
/docs/undocumented.json
/docs/docsets

# SDG
/.Development\ Tools